.main-middle-nav-bar {
  .dropdown {
    .cart-products {
      .dropdown-menu {
        width: 450px;
        border-radius: 10px;
        font-size: 0.8em;
        padding: 13px;
        box-shadow: 0 1px 2px #c4c4c4;

        .cart-product-list {
          max-height: 350px;
          overflow-y: scroll;

          .cart-product {
            border-bottom: 1px solid #dedede;

            .cart-product-image {
              max-width: 100%;
              height: auto;
            }

            .cart-product-name {
              text-transform: capitalize;
            }

            .cart-product-qty {
              padding-bottom: 10px;
              color: #7e7e7e;
            }

            .cart-product-delete-btn {
              color: #3c6382;

              &:hover {
                cursor: pointer;
              }
            }

            .cart-product-price {
              color: #4caf50;
              overflow-x: auto;
            }

            .small-cents {
              font-size: 0.9em;
            }

          }
        }
      }
    }
  }
}