@import "../variables";

.register {

  .img-col {
    border-radius: 15px;

    .img {
      width: 40vw;
    }
  }

}

@media only screen and (max-width: $medium-device-size) {
  .register {

    .img-col {
      border-radius: 15px;
  
      .img {
        width: 50vw;
      }
    }
  
  }
}