@import "../variables";

.shopping-form-area {
  .shopping-form-area-div {
    .sign-area {
      border: 1px solid rgba(0, 0, 0, .125);
      margin: 5px 0;
      padding: 15px;
      background-color: white;
      border-radius: 5px;

      .signing-label {
        padding-left: 0;

        label {
          font-size: 1em;
        }
      }

      .signing-btn {
        display: flex;
        padding-left: 20px;
        padding-right: 0;

        .btn-success {
          color: #fff;
          background-color: $main-middle-navbar-logo-btn-color;
          border-color: $main-middle-navbar-logo-btn-color;
          font-size: 1.1rem;
          font-weight: 400;
          padding: 4px 0;
          margin-bottom: 0;
          border-radius: 6px;
          float: right;
          right: 2rem;
          width: 8em;
        }
      }
    }

    .billing-address {
      border: 1px solid rgba(0, 0, 0, .125);
      margin: 5px 0;
      border-radius: 5px;
      background-color: white;

      .billing-address-header {
        border-bottom: 1px solid rgba(0, 0, 0, .125);
        margin-bottom: 0;
        padding: 12px 15px;

        h5 {
          margin-bottom: 0;
          font-weight: 500;
          font-size: 1.1rem;
        }
      }

      .billing-form {
        padding: 10px 12px 30px 12px;

        .form-group {
          padding: 0;
          margin-right: -5px;
          margin-bottom: 0;

          .form-label {
            margin-bottom: 0;
            font-size: .8em;
          }

          .form-control {
            background-color: #fff;
            padding: 4px 10px;
            border: 1px solid #9e9e9e;
            font-size: .8em;
            border-radius: 3px;
          }
          
        }
      }
    }
  }
}