@import "../variables";

$label-color: #262626;

.top-nav-col {
  z-index: 50;
  background-color: white;

  .navbar {
    padding: 0 5px 0 12px;
    justify-content: flex-end;
    margin-top: 4px;

    .number {
      text-decoration: none;
      font-size: .8rem;
      cursor: pointer;
      background-color: transparent;
      color: $label-color;
      margin: 0 24px 0 13px;
    }

    .navbar-toggler {
      margin: 2px 8px 2px 2px;
      padding: 7px 11px;
      font-size: 1rem;
    }

    .navbar-collapse {
      justify-content: flex-end !important;
      flex-grow: 0 !important;

      .navbar-nav {
        display: flex;
        flex-direction: row;
        padding: 0 0 1px 5px;
        margin: 0 -2px 0 10px;
        list-style: none;

        .delivery-area {
          margin: 2px 14px 0 0;

          .fa-truck {
            display: inline;
            margin-top: 7px;
            margin-right: 0;
            padding-left: 2px;
            padding-right: 5px;
            width: 1.25em;
          }

          a {
            width: auto;
            color: rgba(0, 0, 0, .5);
            text-decoration: none;
            font-size: .8rem;
            padding: 3px 0.5rem 0 0.6rem;
          }

          a:hover {
            color: $label-color;
          }

          img {
            width: 20px;
            height: 25px;
            padding: 2px 0 0 0;
          }
        }

        .my-account {
          margin: 2px 0;
          cursor: pointer;

          i {
            width: auto;
            padding: 1px 1px 2px 1px;
          }

          a {
            color: rgba(0, 0, 0, .5);
            width: auto;
            padding: 3px 0.5rem 0 0.5rem;
            text-decoration: none;
            font-size: .8rem;
          }

          a:hover {
            color: $label-color;
          }
        }

        .register {
          margin: 2px 0;

          .btn {
            margin-left: 1rem;
            padding-top: 1px;
            padding-bottom: 1px;
            margin-top: 1px;
            color: #4caf50;
            border: #4caf50 1px solid;
            font-size: 0.9rem;

            &:hover {
              background-color: #4caf50;
              color: white;
            }

            &:focus {
              background-color: #4caf50;
              color: white;
            }
          }
        }

        .login-div {
          margin: 2px 0;
          padding-top: 2px;

          a {
            color: #4caf50;
            text-decoration: none;
            font-size: 0.9rem;
            margin-left: 8px;
            margin-right: 8px;
            padding: 4px;
            padding-left: 10px;
            padding-right: 10px;

            &:hover {
              background-color: #4caf50;
              color: white;
            }
          }
        }
      }
    }
  }

  .divider {
    position: relative;
    border-top: 1px solid #e0e0e0;
  }
}

@media only screen and (max-width: 767px) {
  .top-nav-col {
    .navbar {
      .navbar-collapse {
        .navbar-nav {
          flex-direction: column;

          .register {
            .btn {
              padding-top: 1px;
              padding-bottom: 1px;
              margin: 1px;
            }
          }

          .login-div {
            a {
              padding: 1px;
              margin-left: 2px; 

              &:hover {
                padding: 4px;
                padding-left: 10px;
                padding-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
